# DFU flash config for AM243x-LP gpio_led_blink
# Board must be in DFU boot mode: SW4 = 1010 0000

--flash-writer=sbl_prebuilt/am243x-lp/sbl_dfu_uniflash.release.hs_fs.tiimage

--operation=flash-phy-tuning-data

--file=sbl_prebuilt/am243x-lp/sbl_ospi.release.hs_fs.tiimage --operation=flash --flash-offset=0x0

--file=../../examples/drivers/gpio/gpio_led_blink/am243x-lp/r5fss0-0_nortos/ti-arm-clang/gpio_led_blink.release.mcelf.hs_fs --operation=flash --flash-offset=0x80000

--file=../../examples/drivers/gpio/gpio_led_blink/am243x-lp/r5fss0-0_nortos/ti-arm-clang/gpio_led_blink.release.mcelf_xip --operation=flash-mcelf-xip
